body {
    font-family: "Poppins", Helvetica, sans-serif !important;
}

.filler {
    height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6c757d;
}

#landing {
    min-height: calc(100vh - 50px);
}

#landing .pic-container {
    display: grid;
    place-items: center;
}

#landing .name-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-container h3,
h5 {
    font-weight: 400;
}

.name-container a {
    font-size: 26px;
    color: #6c757d;
    margin-right: 10px;
    height: 100%;
    position: relative;
}

.name-container a span {
    position: absolute;
    border-radius: 100%;
    display: block;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.name-container a:focus {
    outline: none;
}

.name-container a:hover span {
    background-color: #e5e6e7;
}
.name-container a:focus span {
    background-color: #e5e6e7;
}

.main-pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #6c757d;
    animation-name: color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: url("images/Sriram.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-name {
    font-weight: 500;
    color: #686c70 !important;
}

.name-container p img {
    width: 33px;
}

.name-container p {
    font-size: 25px;
}


.section-wrapper{
    padding-top: 70px;
    padding-bottom: 50px;
}

.section-wrapper:nth-child(even){
    background-color: #fafafa;
}

#about section {
    max-width: 50ch;
}

#tech-list img {
    height: 70px;
    margin: 20px;
}

@keyframes color {
    0% {
        background-color: #e5e6e7;
    }
    50% {
        background-color: #cacbcc;
    }
    100% {
        background-color: #e5e6e7;
    }
}

@media only screen and (max-width: 992px) {
    .main-pic {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .main-pic {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 576px) {
    .main-pic {
        width: 300px;
        height: 300px;
    }

    #tech-list img {
        height: 50px;
    }
}
